<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <server name="PHING_DIR" value="./../../phing/phing" />
        <server name="PROPEL_DIR" value="./../../propel/propel-1" />
        <server name="AUTOLOADER" value="./../autoload.php" />
    </php>
    <testsuites>
        <testsuite name="PublishableBehavior Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./src/templates/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
